# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.editor':
  'cmd-alt-shift-b': 'theos-manager:run'
  'cmd-alt-c':       'theos-manager:cancel'
  'cmd-alt-b':       'theos-manager:build'
  'cmd-shift-k':     'theos-manager:clean'
  'cmd-alt-x':       'theos-manager:close-view'
